
<header class="top-bar">
    <div class="topbar">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-6 col-12 d-lg-block d-none">
                    <div class="topbar-social text-center text-md-start topbar-left">
                        <ul class="list-inline d-md-flex d-inline-block">
                            <li class="ms-10 pe-10"><a href="{{ path('Contact_nous') }}" style="font-size: 12px"><i class="text-white fa fa-envelope"></i> contact@enig-ebm.com</a></li>
                            < class="ms-10 pe-10"><a href="{{ path('Contact_nous') }}" style="font-size: 12px"><i class="text-white fa fa-phone"></i> Guinée-Conakry:(+224) 621 01 48 17/620 34 62 54
                            <br> | Côte d'Ivoire: (+225) 07 088 626 14</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-12 xs-mb-10">
                    <div class="topbar-call text-center text-lg-end topbar-right">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav hidden class="nav-white nav-transparent">
        <div class="nav-header">
            <a href="index.html" class="brand">
                <img src="{{ asset('assets/LOGOWEB.png') }}" alt=""/>
            </a>
            <button class="toggle-bar">
                <span class="ti-menu"></span>
            </button>
        </div>
        <ul class="menu">
            <li >
                <a href="{{ path('default') }}">Home</a>
            </li>
            <li>
                <a href="{{ path('a_propos_de_nous') }}">A propos</a>
            </li>
{#
            <li>
                <a href="{{ path('notre_equipe') }}">Notre equipe</a>
            </li>#}
            <li class="dropdown">
                <a href="#">Categories</a>
                <ul class="dropdown-menu">
                    {% for cat in serv.listeCategorie %}
                    <li><a href="{{ path('affiche_produits',{'id':cat.id}) }}">{{ cat.libelle }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <a href="{{ path('Contact_nous') }}">Contact</a>
            </li>
        </ul>
        <div class="wrap-search-fullscreen">
            <div class="container">
                <button class="close-search"><span class="ti-close"></span></button>
                <input type="text" placeholder="Search..." />
            </div>
        </div>
    </nav>
</header>

