{% extends '_includes/index.html.twig' %}

{% block title %}Page produit -ENIG{% endblock %}

{% block page_content %}
    <section class="py-30">

    </section>

    <section class="" >
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;color: #0d6efd">{{ titre |capitalize }}</font></font></h2>
                    <hr>
                    <p style="color: #0d6efd;font-size: 16px"></p>
                </div>
            </div>

                    <div class="row fx-element-overlay">
                        {% for p in listeproduits %}


                            <div class="col-12 col-xl-3 col-md-6" >
                                <div class="box box-default">
                                    <div class="fx-card-item">
                                        <div class="fx-card-avatar fx-overlay-1 mb-0" style="height: 300px"> <img src="{{ asset('uploads/images/' ~ p.image) }}" alt="user" height="300px">
                                            <div class="fx-overlay scrl-up">
                                                <ul class="fx-info">
                                                    <li><a class="btn btn-outline image-popup-vertical-fit" href="{{ asset('uploads/images/' ~ p.image) }}">Afficher</a></li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="fx-card-content text-start mb-0">
                                            <div class="product-text">
                                                <h4 class="box-title mb-0" style="color: orange">{{ p.titre |capitalize }}</h4>
                                                <br>
                                                <span class="text-muted my-5" style="font-size: 12px;font-weight: bolder">{{ p.description }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            {% include '_includes/page_error.html.twig' %}
                        {% endfor %}
                    </div>




        </div>
    </section>

{% endblock %}
