{% extends '_includes/index.html.twig' %}

{% block title %}Home{% endblock %}

{% block page_content %}
    <section class="py-30">

    </section>
    <section class="pb-50">
        <div class="container">
            <div class="row">
                {% for categorie in listeCategorie %}


                <div class="col-lg-4 col-md-4 col-12">
                    <div class="card">
                        <a href="{{ path('affiche_produits',{'id':categorie.id}) }}">
                            <img class="card-img-top"  src="{{ asset('uploads/images/' ~ categorie.image) }}" alt="Card image cap">
                        </a>
                        <div class="position-absolute r-10 t-10">
                            {#<button type="button" class="waves-effect waves-circle btn btn-circle btn-dark btn-xs me-5"><i class="fa fa-heart-o"></i></button>
                            <button type="button" class="waves-effect waves-circle btn btn-circle btn-dark btn-xs me-5"><i class="fa fa-share-alt"></i></button>#}
                        </div>
                        <div class="card-body">
                            <span class="badge badge-success mb-10">{{ categorie.status }}</span>
                            <h4 class="card-title" style="color: orange;font-weight: bold">{{ categorie.libelle }}</h4>
                            <p class="card-text">{{ categorie.description }}</p>
                            <hr>
                           <div class="justify-content-between">
                               {% for i in categorie.getProduits %}
                               <a href="{{ path('affiche_un_produit',{'id':i.id}) }}" style="font-size: 16px;font-weight: bolder;"><span class="fw-bold" style="font-size: 16px;font-weight: bolder;color: orange">{{ categorie.libelle }}: </span>{{ i.libelle }}</a><br>
                               {% endfor %}
                            </div>
                        </div>
                        <div class="card-footer justify-content-between d-flex align-items-center">
                            <div class="d-flex fs-18 fw-600"> <span class="text-dark me-10"></span> <del class="text-muted"></del> </div>
                            <a href="{{ path('affiche_produits',{'id':categorie.id}) }}" class="btn btn-danger">Consulter</a>
                        </div>
                    </div>
                </div>
              {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
