{% extends '_includes/index.html.twig' %}

{% block title %}Home{% endblock %}

{% block page_content %}
    <section class="py-30">

    </section>
    <section class="pb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 style="text-align: center">NOTRE MERVEILLEUSE ÉQUIPE</h1><br>
                    <p style="text-align: center">Chez nous, chaque collaborateur représente une pépite d'or.</p>
                    <hr>
                </div>
            </div>
            <div class="row fx-element-overlay">
                <div class="col-12 col-xl-4 col-md-6">
                    <div class="box box-default">
                        <div class="fx-card-item">
                            <div class="fx-card-avatar fx-overlay-1 mb-0" style="height: 500px"> <img src="{{ asset('assets/1.jpeg') }}" height="500px" alt="user">
                                <div class="fx-overlay scrl-up">
                                    <ul class="fx-info">
                                        <li><a class="btn btn-outline image-popup-vertical-fit" href="{{ asset('assets/1.jpeg') }}">Afficher</a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="fx-card-content text-start mb-0">
                                <div class="product-text">
                                    <h4 class="box-title mb-0" style="color: orange;font-weight: bolder">Koffi Kouakou</h4><br>
                                    <h4 style="font-size: 16px"><span class="text-muted my-5">Directeur Commercial</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-4 col-md-6">
                    <div class="box box-default">
                        <div class="fx-card-item">
                            <div class="fx-card-avatar fx-overlay-1 mb-0" style="height: 500px"> <img src="{{ asset('assets/2.jpg') }}" height="500px" alt="user">
                                <div class="fx-overlay scrl-up">
                                    <ul class="fx-info">
                                        <li><a class="btn btn-outline image-popup-vertical-fit" href="{{ asset('assets/2.jpg') }}">Afficher</a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="fx-card-content text-start mb-0">
                                <div class="product-text">
                                    <h4 class="box-title mb-0" style="color: orange;font-weight: bolder">Bah Kadiatou
                                        </h4><br>
                                    <h4 style="font-size: 16px"><span class="text-muted my-5">Responsable Administrative</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-4 col-md-6">
                    <div class="box box-default">
                        <div class="fx-card-item">
                            <div class="fx-card-avatar fx-overlay-1 mb-0" style="height: 500px"> <img src="{{ asset('assets/1.jpeg') }}" height="500px" alt="user">
                                <div class="fx-overlay scrl-up">
                                    <ul class="fx-info">
                                        <li><a class="btn btn-outline image-popup-vertical-fit" href="{{ asset('assets/1.jpeg') }}">Afficher</a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="fx-card-content text-start mb-0">
                                <div class="product-text">
                                    <h4 class="box-title mb-0" style="color: orange;font-weight: bolder">Koffi Kouakou</h4><br>
                                    <h4 style="font-size: 16px"><span class="text-muted my-5">Directeur Commercial</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-12">
                    <h3 style="text-align: center">ENIG</h3><br>
                    <p style="text-align: center;font-size: 18px;font-family: Arial, Baskerville, monospace">Parce la discipline protocolaire l'impose nous vous montrons les grosses têtes de notre entreprise. mais sachez que notre équipement débute depuis le portail chez le virgile jusqu'au Directeur Général.</p>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
