<h4 class="box-title mb-0">
    {{ titre }}
</h4>
<hr>
<!-- Nav tabs -->

<a class="btn btn-primary btn-md"  href="{{ path('produit_new') }}" ><i class="d-md-none d-block feather icon-plus white"></i>
    <span class="d-md-block d-none"><i class="fa fa-plus"></i> Nouveau</span></a>
<!-- Tab panes -->

<div class="table-responsive mt-30">
    <table class="table table-striped">
        <thead>
        <tr class="bg-dark">
            <th>ID</th>
            <th>libelle</th>
            <th>categorie</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for produit in listeproduit %}
        <tr>
            <td>{{ produit.id }}</td>
            <td>{{ produit.titre }}</td>
            <td>{{ produit.libelle }}</td>
            <td>{{ produit.date_ajout | date("m/d/Y") }}</td>
            <td width="100">
                <a class="btn btn-success btn-sm" href="{{ path('produit_edit',{'id':produit.id}) }}" data-bs-toggle="tooltip" data-original-title="View" data-bs-original-title="" title=""><i class="fa fa-pencil"></i></a>
                <a class="btn btn-danger btn-sm" data-bs-toggle="tooltip" data-original-title="Delete" data-bs-original-title="" title=""><i class="fa fa-eye"></i></a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td>Aucuns produits n'a été trouvé.</td>
        </tr>
        </tbody>
        {% endfor %}
        </tbody>
    </table>
</div>

