{% extends '_includes/indexe.html.twig' %}

{% block title %}Transmission{% endblock %}

{% block page_content %}
    <section class="py-5 bg-white">
        <div class="container">
            <section class="py-50">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-12">

                            <div class="position-sticky t-100">
                                <div class="box box-widget widget-user-2">
                                    <div class="widget-user-header bg-secondary-light">
                                        <div class="widget-user-image">
                                            <img class="rounded-circle bg-danger" src="{{ asset('assets/images/front-end-img/avatar/1.jpg') }}" alt="User Avatar">
                                        </div>
                                        <h3 class="widget-user-username">Administrateur</h3>
                                        <h6 class="widget-user-desc">Active</h6>
                                    </div>
                                    <div class="box-footer no-padding">
                                        <ul class="nav d-block nav-stacked fs-16" id="parametre-tabs" role="tablist">
                                           {% for key, module in modules %}

                                            <li class="nav-item bb-1">
                                                <a class="py-10 nav-link {% if key == 0 %}active{% endif %}" data-toggle="tab"
                                                   href="#{{ module.name|default('module'~ key) }}" data-href="{{ module.href }}" data-bs-toggle="pill"  role="tab" aria-controls="pills-payments" aria-selected="true">
                                                    <span class="me-10 icon-Money"><span class="path1"></span><span class="path2"></span></span>{{module.label}}
                                                </a>
                                            </li>
                                            {% endfor %}
                                           {# <li class="nav-item bb-1">
                                                <a class="py-10 nav-link " id="pills-edit-tab" data-bs-toggle="pill" href="#pills-edit" role="tab" aria-controls="pills-edit" aria-selected="true">
                                                    <span class="me-10 icon-Edit"><span class="path1"></span><span class="path2"></span></span>Produits
                                                </a>
                                            </li>

                                            <li class="nav-item bb-1">
                                                <a class="py-10 nav-link" id="pills-calendar-tab" data-bs-toggle="pill" href="#pills-calendar" role="tab" aria-controls="pills-calendar" aria-selected="true">
                                                    <span class="me-10 icon-Layout-grid"><span class="path1"></span><span class="path2"></span></span>Marques
                                                </a>
                                            </li>#}

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-9 col-md-8 col-12">
                            <div class="box">
                                <div class="box-body">
                                    <div class="tab-content" id="pills-tabContent23">
                                        {% for key, module in modules %}
                                        {% set id =  module.name|default('module'~ key)  %}
                                        <div class="tab-pane fade {% if key == 0 %}show active{% endif %}"   id="{{ id }}" role="tabpanel" aria-labelledby="pills-edit-tab">

                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
{% endblock %}

{% block javascripts %}

        <script>
            $(document).ready(function () {
            load_tab('parametre-tabs');
        });
    </script>


{% endblock %}