{% extends '_includes/index.html.twig' %}

{% block title %}Contact{% endblock %}

{% block page_content %}
    {% form_theme form 'widget/fields-block.html.twig' %}
    <section class="py-50">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7 col-12">
                    {{ form_start(form, {'attr': {'role':'form','id':'formulaire', 'class': 'form'}}) }}
                        <div class="text-start mb-30">
                            <h2>ENIG</h2>
                            <h3>Faites nous connaitre vos préocupations et nous vous apporterons une solution dans un délai très court et très rapidement.</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                   {# <input type="text" class="form-control" placeholder="Entrez votre nom svp">#}
                                    {{ form_widget(form.nom,{'attr':{'class':'form-control','id':'nom','placeholder':'Entrez votre nom svp','required':'required'}}) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {#<input type="text" class="form-control" placeholder="Entrea votre prénoms svp">#}
                                    {{ form_widget(form.prenom,{'attr':{'class':'form-control','id':'userinput2','placeholder':'Entrea votre prénoms svp','required':'required'}}) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                   {# <input type="email" class="form-control" placeholder="Entrez votre email svp">#}
                                    {{ form_widget(form.email,{'attr':{'class':'form-control','id':'userinput2','placeholder':'Entrez votre email svp','required':'required'}}) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {#<input type="tel" class="form-control" placeholder="Entrez votre telephone svp">#}
                                    {{ form_widget(form.telephone,{'attr':{'class':'form-control','id':'userinput2','placeholder':'Entrez votre telephone svp','required':'required'}}) }}
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                   {# <textarea name="message" rows="5" class="form-control" required="" placeholder="Message"></textarea>#}
                                    {{ form_widget(form.message,{'attr':{'class':'form-control','id':'userinput2','rows':'7','placeholder':'Message','required':'required'}}) }}
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button name="submit" id="submit" type="submit" value="Submit" class="btn btn-primary"> Envoyer</button>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
                <div class="col-md-5 col-12 mt-30 mt-md-0">
                    <div class="box box-body p-40 bg-dark mb-0">
                        <h2 class="box-title text-white">Infos Contact</h2>
                        <div class="widget fs-18 my-20 py-20 by-1 border-light">
                            <ul class="list list-unstyled text-white-80">
                                <li class="ps-40" style="color: orange"><i class="ti-location-pin"></i>Guinée-Conakry:(+224) 621 01 48 17/620 34 62 54</li>
                                <li class="ps-40" style="color: orange"><i class="ti-location-pin"></i>Côte d'Ivoire :(+225) 07 088 626 14</li>
                                <li class="ps-40" style="color: orange"><i class="ti-email"></i>contact@enig-ebm.com/ekoffi13.ek@gmail.com </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function(){

        });
    </script>
{% endblock %}