<h4 class="box-title mb-0">
    {{ titre }}
</h4>
<hr>


<a class="btn btn-primary btn-md"  href="{{ path('partenaire_new') }}" ><i class="d-md-none d-block feather icon-plus white"></i>
    <span class="d-md-block d-none"><i class="fa fa-plus"></i> Nouveau</span></a>

<!-- Tab panes -->

<div class="table-responsive mt-30">

    <table class="table table-striped">
        <thead>
        <tr class="bg-dark">
            <th>ID</th>
            <th>Image</th>
            <th>Libelle</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for partenaire in listePartenaires %}
        <tr>
            <td>{{ partenaire.id }}</td>
            <td>
                <img src="{{ asset('uploads/images/' ~ partenaire.logo) }}" alt="" width="30" height="30">
            </td>
            <td>{{ partenaire.libelle }}</td>
            <td width="100">
                <a class="btn btn-success btn-sm" href="{{ path('partenaire_edit',{'id':partenaire.id}) }}" data-bs-toggle="tooltip" data-original-title="View" data-bs-original-title="" title=""><i class="fa fa-pencil"></i></a>
                <a class="btn btn-danger btn-sm" data-bs-toggle="tooltip" data-original-title="Delete" data-bs-original-title="" title=""><i class="fa fa-eye"></i></a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td>Aucunes marques n'a été trouvé.</td>
        </tr>
        </tbody>
        {% endfor %}
        </tbody>
    </table>
</div>

