{% extends '_includes/indexe.html.twig' %}

{% block title %}Transmission{% endblock %}


{% block page_content %}
	{% form_theme form 'widget/fields-block.html.twig' %}

    <section class="py-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 col-12" style="margin: auto">
                    <div class="box" >
                        <div class="box-body" >
                            <div class="widget">
                                <h4 class="mt-0 pb-15 mb-25 bb-1">Création de catégorie</h4>
                                {{ form_start(form, {'attr': {'role':'form', 'class': 'form'}}) }}
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4" >
                                            <div class="form-group">
                                                {{ form_widget(form.libelle,{'attr':{'class':'form-control','id':'userinput1','placeholder':'Libelle','required':'required'}}) }}
                                                {# <input type="email" class="form-control" placeholder="Website URL">#}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <div class="form-group">
                                                {{ form_widget(form.image,{'attr':{'class':'form-control','id':'userinput2','placeholder':'Image','required':'required'}}) }}
                                                {# <input type="email" class="form-control" placeholder="Your Name">#}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <div class="form-group">
                                                {{ form_widget(form.status,{'attr':{'class':'form-control','id':'userinput2','placeholder':'Image','required':'required'}}) }}
                                                {# <input type="email" class="form-control" placeholder="Your Name">#}
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            {{ form_widget(form.description,{'attr':{'class':'form-control','id':'userinput2','rows':'7','placeholder':'Description','required':'required'}}) }}
                                            {#<textarea class="form-control" rows="7" placeholder="message"></textarea>#}
                                        </div>
                                    </div>

                                <hr>
                                <div class="row">
                                    <div class="col-10"></div>
                                    <div class="col-2">
                                        <button name="submit" type="submit" value="Send" class="btn btn-primary"><span>Soumettre</span></button>
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


{% endblock %}
